* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000000;
    color: #fff;
    padding: 30px;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #062415;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #30664b;
}

.form-group {
    margin-bottom: 20px;
}

::placeholder {
    color: white;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type='text'],
input[type='date'],
textarea,
select {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #3f8a64;
    color: white;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 8px;
}

.checkbox-group label {
    background: #3f8a64;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: normal;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #398860;
    color: white;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: #2A5841;
}