* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000000;
    color: #fff;
    padding: 30px;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #062415;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #30664b;
}

.form-group {
    margin-bottom: 20px;
}

::placeholder {
    color: white;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type='text'],
input[type='date'],
textarea,
select {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #3f8a64;
    color: white;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

.resultado-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.resultado-item {
    flex: 1;
    min-width: 180px;

    background: #4c925e;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    transition: .25s;
}

.resultado-item input {
    display: none;
}

.resultado-item:hover {
    transform: translateY(-2px);
}

.resultado-item.vitoria input:checked + span {
    color: #22c55e;
    font-weight: bold;
}

.resultado-item.derrota input:checked + span {
    color: #ef4444;
    font-weight: bold;
}

.resultado-item:has(input:checked) {
    border-color: #3f8a64;
    background: #0c6e35;
    box-shadow: 0 0 15px rgba(56, 189, 248, .3);
}

.duas-colunas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 768px) {
    .duas-colunas {
        grid-template-columns: 1fr;
    }
}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 8px;
}

.checkbox-group label {
    background: #3f8a64;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: normal;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #398860;
    color: white;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: #2A5841;
}